

img {
    width: 400px;
}

.post {
    width: 400px;
    margin: auto;
    background-color: white;
}

.post-head {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
    height: 50px;
    margin-bottom: 15px;
}

.title {
    margin-inline-end: auto;
    font-size: 10px;
    font-family: sans-serif;
    line-height: 6px;
    margin-top: 10px;
    margin-left: 10px;
}

.logo {
    margin-top: -5px
}

.text {
    padding: 10px;
    font-size: 15px;

}

.text1 {
    font-size: 14px;
}

.post-icons {
    display: inline-block;
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
    margin-top: -30px;
    margin-bottom: -46px;
    
}

.icon-left {
    display: flex;
    font-size: 30px;
    width: 100px;
    justify-content: space-between;
   
}

.icon-right{
    font-size: 30px;

}

body{
    font-family: roboto;
    background-color: black;
}